@import './fonts.scss';
@import '@cnamts/design-tokens/dist/tokens';

/* Default, global styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    /* Font size defined by the browser */
    font-size: 100%;
    font-family: 'Source Sans 3', 'Source Sans Pro', sans-serif;
}

/* Hide the application while Vue.js is loading */
[v-cloak] {
    display: none;
}
