@import './fonts.scss';
@import '@cnamts/design-tokens/dist/tokens';

/* Default, global styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    /* Font size defined by the browser */
    font-size: 100%;
    font-family: 'Source Sans 3', 'Source Sans Pro', sans-serif;
}

/* Hide the application while Vue.js is loading */
[v-cloak] {
    display: none;
}

.v-ripple__container :not(.vd-file-upload) {
    width: fit-content;
}

/* Apply default transition to links */
a {
    transition: 0.25s;
    color: $vd-primary;
}

.v-alert {
    font-size: 1.125rem;
}

.flex-column .v-btn {
    border-inline-start: inherit !important;
    border-inline-end: inherit !important;
    border-width: 1px !important;
}

// FormInput styles
.vd-form-input {
    width: $vd-input-medium;

    &-s {
        width: $vd-input-small;
    }

    &-l {
        width: $vd-input-large;
    }

    &-xl {
        width: $vd-input-x-large;
    }
}

// Global Colors
.bg-primary,
.bg-secondary,
.bg-error {
    --v-theme-overlay-multiplier: 0 !important;
}

// VBtnGroup styles
.v-btn-group {
    height: auto !important;
    .v-btn__content {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .v-btn:not(:first-child) {
        border-inline-start: inherit;
    }
}

// Global Colors
.bg-primary,
.bg-error {
    --v-theme-overlay-multiplier: 0 !important;
}

// VMessages styles
.v-application--is-ltr .v-messages {
    text-align: left;
}

.v-messages {
    flex: 1 1 auto;
    font-size: 12px;
    min-height: 14px;
    min-width: 1px;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
}

// VDataTable: Custom styles
.vd-data-table,
.v-data-table {
    table thead tr {
        white-space: nowrap;
    }

    table thead th {
        color: rgba(0, 0, 0, 0.6);
        font-size: 0.875rem;
    }

    table :not(thead) tr {
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    &.row-clickable table tbody tr {
        cursor: pointer;
    }

    &.fixed-min-height {
        .v-data-table__wrapper {
            min-height: 540px;
        }
    }

    &.no-mobile-header {
        .v-data-table-header-mobile {
            display: none;
        }

        table {
            border-top: 2px solid #eee;
        }
    }
}
.v-data-table-progress {
    .v-progress-linear {
        height: 4px !important;
    }
    .v-progress-linear__background,
    .v-progress-linear__indeterminate {
        background: $vd-primary;
    }
}

// Input : Custom styles
.v-input,
.v-input input,
.v-input textarea {
    color: rgba(0, 0, 0, 0.87);
}

// Field : Custom styles
.v-field {
    &--active {
        .v-field__prepend-inner > .v-icon,
        .v-field__append-inner > .v-icon,
        .v-field__clearable > .v-icon {
            opacity: 1;
            color: $vd-primary;
        }
    }
    &--focused {
        .v-field__outline {
            border-color: $vd-primary;
        }
    }
}
.v-text-field {
    .v-field__clearable {
        .v-icon {
            color: $vd-primary !important;
            opacity: 1 !important;
        }
    }
}
